global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alerts/*.yml"

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "monitoring-node"
    scrape_interval: 5s
    static_configs:
      - targets: ["node-exporter:9100"]
  - job_name: "gogol-service"
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ GOGOL_SERVICE }}"]
    metrics_path: "/metrics"
  - job_name: "server-node"
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ SERVER_NODE }}"]
    metrics_path: "/metrics"
